*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Karla;
}

body{
    margin: 50px;
    background-color: hsl(148, 38%, 91%)
}

#main-body{
   background-color: white;
   width: 31.25rem;
   height: auto;
   padding: 30px;
   border-radius: 15px;
   margin: auto;
}

h1 {
    font-weight: 700;
    background-color: white;
    color: hsl(169, 82%, 27%)
}

.email-section,
.message-section{
    margin-bottom: 15px;
}

.first-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
}

#mail,
textarea{
 width: 27.8rem;
 padding: 10px;
 margin-top: 5px;
 border: 1px solid hsl(148, 38%, 91%);
 border-radius: 7px;  
 outline: none;
}

#first,
#last{
    width: 12.5rem;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid hsl(148, 38%, 91%);
    border-radius: 7px;
    outline: none;
}


#first{
    margin-right: 20px;
}


label{
    font-weight: 400;
    font-size: 16px;
}

#firsterror,
#lasterror,
#emailerror,
#query-error,
#messageError,
#consent-error{
    display: none;
    font-size: 10px;
    color: red;
}

.query{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#query-error,
#consent-error{
    margin-top: -10px;
    margin-bottom: 15px
}

.radio-group{
    display: flex;
    align-items: center;
    border: 1px solid hsl(148, 38%, 91%);
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    width: 12.5rem;
}

.radio-group:first-child{
    margin-right: 20px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.consent-group{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.consent-group input[type="checkbox"] {
    margin-right: 15px;
}

.btn{
    text-align: center;
}

#submit-btn {
 width:100%;
 padding: 10px;
 margin-top: 5px;
 border: 1px solid hsl(0, 47%, 12%);
 border-radius: 7px;  
 background-color: hsl(0, 66%, 54%);
 color: white;
}

form :hover{
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    #main-body{
        width: 17.125rem;
    }
    
    .first-part,
    .query{
        flex-direction: column;
    }

    #last-name{
        margin-top: 15px;
    }

    #mail{
        width: 12.5rem;
    }

    textarea{
        width: 12.5rem;
        height: 12.5rem;
    }
}